.menuItem {
  margin: 90px 0;
  font-size: 55px;
  font-weight: 400;
}

:global(.primaryNav.opened) .menuItem {
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

:global(.primaryNav.closed) .menuItem {
  animation-name: fadeOutDown;
  animation-fill-mode: both;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menuItem a {
  cursor: pointer;
  color: #888888;
  transition: color 0.2s ease-in-out;
}

.menuItem a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.menuItem a:after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  bottom: -6px;
  opacity: 0;
  background: #FFFFFF;
  transition: all 0.2s ease-in-out;
}

.menuItem a:hover:after {
  opacity: 1;
  width: 50px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(25%);
  }
}

.menuItem:nth-child(2) {
  animation-delay: 0.1s;
}
.menuItem:nth-child(3) {
  animation-delay: 0.2s;
}
.menuItem:nth-child(4) {
  animation-delay: 1.1s;
}