:global(.primaryNav) {
  position: fixed;
  width: 100%;
  align-items: center;
  z-index: -1;
  display: flex;
  opacity: 0;
  background: #0E0E0E;
}

:global(.primaryNav.closed) {
  animation-name: fadeOut;
  animation-fill-mode: both;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.4s;
}

:global(.primaryNav.opened) {
  animation-name: fadeIn;
  animation-fill-mode: both;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

.menuList {
  margin: 0 15%;
  padding: 0;
  list-style: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}


/* Mobiles */
@media (max-width: 576px) {
  .menuList {
    margin: 0 20%;
  }
}