.menuItem {
  width: 16px;
  height: 16px;
  display: flex;
  margin: 10px;
}

.menuItem a {
  border-radius: 50%;
  background: #888888;
  width: 50%;
  height: 50%;
  cursor: pointer;
  text-decoration: none;
  margin: auto;
  transition: height .3s, width .3s, background-color .2s;
}

.menuItem.active a {
  background: #FFFFFF;
  width: 100%;
  height: 100%;
}

.menuItem:not(.active) a:hover {
  width: 65%;
  height: 65%;
}