.menuItem {
  width: 10px;
  height: 10px;
  display: flex;
  margin: 10px;
}

.menuItem a {
  border-radius: 50%;
  background: #888888;
  width: 60%;
  height: 60%;
  cursor: pointer;
  text-decoration: none;
  margin: auto;
  transition: all .1s;
}

.menuItem.active a {
  background: #FFFFFF;
  width: 100%;
  height: 100%;
}

.menuItem:not(.active) a:hover {
  width: 100%;
  height: 100%;
}