.navButton {
  z-index: 2;
  position: fixed;
  right: 40px;
  top: 40px;
  width: 25px;
  height: 14px;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.navButton:active,
.navButton:focus {
  outline: none;
}

.navButton.active {
  height: 14px;
  transition: transform .3s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.navButton.active:hover {
  transform: scale(1.2);
}

.navButton span {
  content: '';
  height: 4px;
  width: 100%;
  background: white;
  position: absolute;
  border-radius: 1px;
  right: 0;
  top: 0;
  transition: width .2s, transform .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navButton span:last-child {
  top: calc(100% - 4px);
  width: 70%;
}

.navButton:hover span:last-child {
  width: 100%;
}

.navButton.active span:first-child {
  transform: translateY(5px) rotateZ(-45deg);
}

.navButton.active span:last-child {
  transform: translateY(-5px) rotateZ(45deg);
  width: 100%;
}