.container {
  position: relative;
}

.fullPageLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.dark).container {
  color: #FFFFFF;
  background: #141414;
}

:global(.light).container {
  color: #141414;
  background: #FFFFFF;
}