.socialIcon {
  outline: none;
  display: block;
  margin: 15px 25px;
  width: 25px;
  height: 25px;
  padding: 9px;
  text-align: center;
  border: 2px solid transparent;
  background: #444444;
  transition: border .2s ease-in-out;
}

:global(.light) .socialIcon {
  background: #888888;
}

.socialIcon:hover,
.socialIcon:focus,
.socialIcon:active {
  background: #555555;
  border: 2px solid #FFFFFF;
}

:global(.light) .socialIcon:hover,
:global(.light) .socialIcon:focus,
:global(.light) .socialIcon:active {
  border: 2px solid #141414;
}

.socialIcon img {
  max-width: 100%;
  max-height: 100%;
}

/* Mobiles */
@media (max-width: 576px) {
  .socialIcon {
    margin: 15px;
  }
}