.projectRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  outline: none;
  text-align: left;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  transition: min-height .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.projectRow:hover,
.projectRow:active,
.projectRow:focus {
  text-decoration: none;
  min-height: 250px;
}

.projectContainer {
  margin: 0 10%;
}

.projectRow .titleRow {
  margin: 10px 0 5px 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

.projectRow h3 {
  font-weight: 200;
  margin: 0;
  width: max-content;
  position: relative;
  z-index: 1;
}

.projectRow .counter {
  font-weight: 700;
  font-size: 22px;
  position: relative;
  width: max-content;
  z-index: 1;
}

.projectRow p {
  margin: 0;
  font-weight: 200;
  text-overflow: ellipsis;
  margin-bottom: 2px;
  position: relative;
  max-width: 100%;
  width: max-content;
  z-index: 1;
}

.projectRow a {
  z-index: 1;
  position: relative;
  width: max-content;
  font-size: 14px;
}

.projectRow h3:after,
.projectRow .counter:after,
.projectRow p:after,
.projectRow a:after {
  content: '';
  position: absolute;
  width: calc(100% + 10px);
  height: 100%;
  left: -5px;
  top: 0;
  z-index: -1;
  background: #141414;
}

:global(.light) .projectRow h3:after,
:global(.light) .projectRow .counter:after,
:global(.light) .projectRow p:after,
:global(.light) .projectRow a:after {
  background: #FFFFFF;
}

.themeList {
  margin: 0 15px;
  flex: 1;
  position: relative;
  z-index: 1;
}

.themeList li {
  vertical-align: middle;
  padding: 3px 8px;
  margin: 5px 10px 3px 0;
  background: #444444;
  border-radius: 6px;
  display: inline-block;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 200;
  transition: background-color .2s ease-in-out;
}

:global(.light) .themeList li {
  background: #888888;
  color: #FFFFFF;
}

.projectImage {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  z-index: 0;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.projectRow:hover .projectImage,
.projectRow:active .projectImage,
.projectRow:focus .projectImage {
  opacity: 1;
}


/* Tablets */
@media (max-width: 768px) {
  .projectRow {
    margin: 0;
  }

  .projectRow .titleRow {
    display: block;
  }

  .themeList {
    display: none;
  }
}