.projectContainer {
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
  height: 300px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.projectContainer:hover {
  text-decoration: none;
}

.projectContainer h3 {
  margin: 0;
}

.themeList {
  margin: 20px 0 0 0;
}

.themeList li {
  vertical-align: middle;
  padding: 4px 8px;
  margin: 0px 10px 10px 0;
  background: #444444;
  border-radius: 6px;
  display: inline-block;
  white-space: nowrap;
  font-weight: 300;
}

.projectImage {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.projectContainer:hover .projectImage {
  opacity: 1;
}


/* Tablets */
@media (max-width: 768px) {
  .projectContainer {
    margin: 0;
  }
}

/* Mobiles */
@media (max-width: 576px) {
  .projectContainer {
    height: 250px;
  }

  .themeList {
    display: none;
  }
}