.projectRow {
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  outline: none;
  border: 2px solid transparent;
  transition: min-height .5s cubic-bezier(0.68, -0.55, 0.265, 1.55), border .2s ease-in-out;
}

.projectRow:hover,
.projectRow:active,
.projectRow:focus {
  text-decoration: none;
  min-height: 250px;
  border: 2px solid #FFF;
}

.projectRow .titleRow {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.projectRow h3 {
  font-weight: 200;
  margin: 0;
  display: inline-block;
}

.projectRow .counter {
  font-weight: 700;
  font-size: 22px;
}

.projectRow p {
  margin: 0;
  font-weight: 200;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.themeList {
  margin: 0 15px;
}

.themeList li {
  vertical-align: middle;
  padding: 3px 8px;
  margin-right: 10px;
  background: #444444;
  border-radius: 6px;
  display: inline-block;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 200;
  transition: background-color .2s ease-in-out;
}

.themeList li:hover {
  background: #888888;
}

.projectImage {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.projectRow:hover .projectImage,
.projectRow:active .projectImage,
.projectRow:focus .projectImage {
  opacity: 0.7;
}


/* Tablets */
@media (max-width: 768px) {
  .projectRow {
    margin: 0;
  }

  .projectRow .titleRow {
    display: block;
  }

  .themeList {
    margin: 0;
  }
}

/* Mobiles */
@media (max-width: 576px) {
  .themeList {
    display: none;
  }
}