.projectRow {
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  outline: none;
  border: 2px solid transparent;
  transition: height .2s ease-in;
}

.projectRow:hover,
.projectRow:active,
.projectRow:focus {
  text-decoration: none;
  height: 250px;
}

.projectRow h3 {
  margin: 10px 0;
  font-weight: 200;
}

.projectRow .counter {
  font-weight: 700;
}

.themeList li {
  vertical-align: middle;
  padding: 5px 10px;
  margin: 0px 10px 10px 0;
  background: #444444;
  border-radius: 6px;
  display: inline-block;
  white-space: nowrap;
  font-weight: 200;
  transition: background-color .2s ease-in-out;
}

.themeList li:hover {
  background: #888888;
}

.projectImage {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.projectRow:hover .projectImage,
.projectRow:active .projectImage,
.projectRow:focus .projectImage {
  opacity: 1;
}


/* Tablets */
@media (max-width: 768px) {
  .projectRow {
    margin: 0;
  }
}

/* Mobiles */
@media (max-width: 576px) {
  .themeList {
    display: none;
  }
}