.timelineRow {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
  margin: 10px 0;
  width: 100%;
}

.timelineRow:first-of-type {
	margin-top: 30px;
}

.timelineDate {
	text-align: center;
	color: #888888;
}

.timelineDate:after {
	content: '';
	position: absolute;
	width: 1px;
	left: 50%;
	background: #888888;
	bottom: 0;
	top: 40px;
}

.timelineContainer {
  display: flex;
  margin: 30px 0;
}

.timelineHead {
  text-align: right;
	width: 30%;
  margin-left: 10%;
}

.timelineText {
	margin-left: auto;
	width: 40%;
}

.skillList li {
  margin: 5px 0 3px 8px;
}

.timelineText p {
	font-weight: 200;
  font-size: 18px;
  margin: 0;
}

.timelineText img {
  width: 150px;
  position: relative;
  display: block;
}

/* Medium */
@media (max-width: 992px) { 
  .timelineDate {
    font-size: 18px;
  }

  .timelineDate:after {
    content: none;
  }

  .timelineContainer {
    display: block;
  }

  .timelineHead {
    text-align: left;
    width: auto;
    margin: 15px 0;
  }

	.timelineText {
    align-self: center;
    width: 100%;
  }

  .skillList li {
    margin: 5px 8px 3px 0px;
  }

  .timelineText img {
    width: 100px;
  }
}

/* Mobiles */
@media (max-width: 576px) {
  .timelineRow {
    width: 85%;
  }
}