.timelineRow {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 10px 0;
}

.timelineRow:first-of-type {
	margin-top: 30px;
}

.timelineDate {
	text-align: center;
	color: #888888;
}

.timelineDate:after {
	content: '';
	position: absolute;
	width: 1px;
	left: 50%;
	background: #888888;
	bottom: 0;
	top: 40px;
}

.timelineText {
	align-self: flex-end;
	width: 35%;
}

.timelineRow:nth-child(2n+1) .timelineText {
	align-self: flex-start;
	text-align: right;
}

.timelineText p {
	font-weight: 200;
	font-size: 18px;
}

.timelineText img {
	width: 150px;
}

/* Tablets */
@media (max-width: 768px) {
  .timelineDate {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .timelineDate:after {
    content: none;
  }

	.timelineText {
    align-self: center;
    width: 100%;
  }

  .timelineRow:nth-child(2n+1) .timelineText {
    text-align: left;
  }

  .timelineText img {
    width: 100px;
  }
}