.timelineRow {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 10px 0;
}


.timelineDate {
    text-align: center;
    color: #888888;
}

.timelineDate:after {
    content: '';
    position: absolute;
    width: 1px;
    left: 50%;
    background: #888888;
    bottom: 0;
    top: 40px;
}

.timelineText {
    align-self: flex-end;
}

.timelineRow:nth-child(2n+1) .timelineText {
    align-self: flex-start;
    text-align: right;
}

.timelineText p {
    font-weight: 300;
    font-size: 18px;
}