.mainHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
  margin: auto;
}

.mainTitle {
  margin: auto 0 10vh 0;
  font-size: 100px;
  font-weight: 300;
}

.subTitle {
  font-size: 35px;
  font-weight: 300;
  margin: 0 7px;
}

.skills {
  font-weight: 400;
}

.nudge {
  margin: auto 0 50px 0;
  align-self: center;
  position: relative;
  color: #888888;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.nudge:hover {
  color: #FFFFFF;
}

.nudge:after {
  content: '';
  position: absolute;
  border: solid #888888;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
  transform: rotateZ(45deg) translate(0, 0);
  top: 100%;
  left: calc(50% - 12px);
  transition: transform 0.3s ease-in-out;
}

.nudge:hover:after {
  transform: rotateZ(45deg) translate(5px, 5px);
}