.mainHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: auto;
}

.mainTitle {
  margin: auto 0 15vh 0;
  font-size: 100px;
  font-weight: 300;
}

.subTitle {
  font-family: 'Merriweather';
  font-size: 30px;
  font-weight: 300;
  overflow: hidden;
  height: 58px;
}

.subTitle li {
  animation: vertLoop 8s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  padding: 10px;
  color: #888888;
}

.skills {
  font-weight: 400;
}

@keyframes vertLoop {
  0%, 10% {
    transform: translateY(0%);
  }
  15%, 30% {
    transform: translateY(-100%);
  }
  35%, 50% {
    transform: translateY(-200%);
  }
  55%, 70% {
    transform: translateY(-300%);
  }
  75%, 90% {
    transform: translateY(-400%);
  }
  95%, 100% {
    transform: translateY(0%);
  }
}

.nudge {
  margin: auto 0 50px 0;
  align-self: center;
  position: relative;
  color: #888888;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.nudge:hover {
  color: #FFFFFF;
}

.nudge:after {
  content: '';
  position: absolute;
  border: solid #888888;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
  transform: rotateZ(45deg) translate(0, 0);
  top: 100%;
  left: calc(50% - 12px);
  transition: transform 0.3s ease-in-out;
}

.nudge:hover:after {
  transform: rotateZ(45deg) translate(5px, 5px);
}