.socialIcon {
  margin: 15px 25px;
  display: inline-block;
}

.socialIcon a {
  outline: none;
  display: block;
  width: 25px;
  height: 25px;
  padding: 9px;
  text-align: center;
  border: 2px solid transparent;
  background: #444444;
  transition: border .2s ease-in-out;
}

:global(.light) .socialIcon a {
  background: #888888;
}

.socialIcon a:hover,
.socialIcon a:focus,
.socialIcon a:active {
  border: 2px solid #FFFFFF;
}

:global(.light) .socialIcon a:hover,
:global(.light) .socialIcon a:focus,
:global(.light) .socialIcon a:active {
  border: 2px solid #141414;
}

.socialIcon img {
  max-width: 100%;
  max-height: 100%;
}


/* Mobiles */
@media (max-width: 576px) {
  .socialIcon {
    margin: 15px;
  }
}