section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 5vh 0;
  width: 75%;
  max-width: 980px;
  position: relative;

  h2 {
    margin: 50px 0;
    font-size: 50px;
    font-weight: 700;
    background: #FFFFFF;
    color: #141414;
    padding: 5px 20px;

    &.small {
      margin-bottom: 25px;
    }
  }

  h2 + :global(.para--light) {    
    margin-bottom: 25px;
  }

  :global(.light) h2 {
    background: #141414;
    color: #FFFFFF;
  }
}

/* Tablets */
@media (max-width: 768px) {
  section {
    width: 85%;
  }
}

/* Mobiles */
@media (max-width: 576px) {
  section {
    width: 100%;
  }
}