section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20vh auto;
  width: 75%;
}

section:last-of-type {
  margin: 20vh auto 10vh auto;
}

section h2 {
  margin: 45px 0;
  font-size: 42px;
  font-weight: 700;
}

/* Tablets */
@media (max-width: 768px) {
  section {
    width: 85%;
  }
}

/* Mobiles */
@media (max-width: 576px) {
  section {
    width: 100%;
  }
}