footer {
  text-align: center;
  margin: 10vh auto;
}

.copy {
  color: #888888;
  margin: auto;
}

.copy a {
  outline: none;
  color: #888888;
}

.copy a:hover,
.copy a:active,
.copy a:focus {
  color: #FFFFFF;
}