.fieldGroup {
  margin: 30px 0;
}

.fieldGroup label {
  display: block;
  font-size: 20px;
  font-weight: 700;
}

.fieldGroup input,
.fieldGroup textarea {
  width: 100%;
  font-size: 20px;
  padding: 12px 15px;
  border: none;
  outline: none;
  margin: 10px 0;
  box-sizing: border-box;
  background: #444444;
  font-weight: 300;
  font-family: Lato;
  color: #FFFFFF;
  border: 2px solid transparent;
  transition: all .3s ease-in-out;
  resize: none;
}

.fieldGroup input:active,
.fieldGroup input:focus,
.fieldGroup textarea:active,
.fieldGroup textarea:focus {
  background: #555555;
  border: 2px solid #FFFFFF;
}

.fieldGroup input:hover,
.fieldGroup textarea:hover {
  background: #555555;
}

.fieldGroup input[type=submit] {
  cursor: pointer;
  font-weight: 400;
  width: 40%;
  background: #000000;
}