html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #141414;
  color: #FFFFFF;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

::selection {
  background: #CCC;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #FFFFFF;
  transition: color .1s ease-in-out;
  cursor: pointer;
}

a:hover,
a:focus {
  outline: none;
}

a.simpleLink {
	color: #888888;
}

a.simpleLink:hover,
a.simpleLink:focus,
a.simpleLink:active {
	color: #FFFFFF;
}

.light a.simpleLink:hover,
.light a.simpleLink:focus,
.light a.simpleLink:active {
	color: #444444;
}

.textCenter {
  text-align: center;
}


@font-face {
  font-family: 'Poppins';
  src: url("assets/fonts/Poppins-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: url("assets/fonts/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url("assets/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}


@font-face {
  font-family: 'Merriweather';
  src: url("assets/fonts/Merriweather-Light.ttf");
  font-weight: 300;
}