body {
  margin: 0;
  background: #1D1D1D;
  color: white;
  font-family: 'Lato';
}

a {
  text-decoration: none;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

.fullHeight {
  min-height: 100vh;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url("assets/fonts/Lato-Bold.ttf");
  font-weight: 700;
}