.cursor {
  width: 30px;
  height: 30px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 150ms ease;
  transition-property: opacity, background-color, transform, mix-blend-mode;

  &.hidden {
    opacity: 0;
  }

  &.linkHovered {
    transform: translate(-50%, -50%) scale(0.8);
    background-color: #fefefe;
  }

  &.clicked {
    transform: translate(-50%, -50%) scale(0.7);
    background-color: #fefefe;
  }
}